* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #303232;
  color: white;
  padding: 1rem;
  a {
    text-decoration: none;
    padding: 1rem 0;
    color: white;
  }
  h2 {
    font-size: 2rem;
    padding: 15px 0;
  }
  form {
    display: flex;
    gap: 2rem;
    input {
      padding: 0.5rem;
      border-radius: 10px;
      border: none;
    }
    button {
      padding: 10px 50px;
      border-radius: 10px;
      background-color: rgb(14, 99, 227);
      color: white;
      cursor: pointer;
      border: none;
    }
  }
}
