<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="stylesheet/styles.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  </head>
  <body>
    <div class="container">
      <a href="/users">Go to user page</a>
      <h2>Create new user</h2>
      <form action="/create" method="post">
        <input type="text" name="user" placeholder="name" required />
        <input type="email" name="email" placeholder="email" required />
        <input type="text" name="image" placeholder="image url" />
        <button>submit</button>
      </form>
    </div>
  </body>
</html>
